.container {
  display: flex;
  flex-direction: column;
}

.videocomponent,
.gallerycomponent {
  scroll-snap-align: none;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px; /* Optional: Add padding to the components */
  min-height: 50px; /* Increase the minimum height to create more spacing */
  height: 100vh;
  scroll-snap-align: none;
}

.partnercomponent {
  margin-top: auto;
  scroll-snap-align: none;
}

.slider {
  height: 35vh !important;
}

/* Desktop and larger screens only */
@media (min-width: 1024px) {
  .component,
  .gallerycomponent,
  .videocomponent,
  .partnercomponent {
    scroll-snap-align: start !important;
  }
}
